


body{
    background-color:#153d64 ;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
body::selection{
    background-color: #153d64;
    color: white;
    
}
.container{
    background-image: linear-gradient(to right, #215c9898 20% , transparent) , url(avatar.jpg);
    background-size: contain;
    width: 1600px;
    height: 1000px;
    border: 3px solid white;
    border-radius: 10px;
    margin: 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    font-size: 50px;
    margin-left: 20px;
}
ul{
    display: flex;
   font-size: 30px;
   width: 70%;
   justify-content: space-evenly;
   margin-top: -20px;
}
 li {
    list-style: none;
    transition: .6s;
 } 
 a{
    color: white;
    text-decoration: none;
   
 }
 section{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 h1{
    font-size: 90px;
 }
 p{
    margin-top: -20px;
    font-size: 25px;
    word-spacing: 3px;
    width: 75%;
 }
 button{
    border: 2px solid white;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 30px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    transition: .6s;
 }
li:hover{
    transform: scale(1.2);
    text-decoration: underline;
}
button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.container:hover{
        background-image: url(avatar.jpg);

}